
	@media screen and (max-width: 600px) {
	
	.topnav {
	position: initial !important;
	 
	 }
	
  .topnav li {
    float: none;
    width: 100%;
     }

  .topnav a {
  padding: 10px 10px;
  font-size: 40%;
  display: block;
  }
  
  body {
padding-top: 0px !important;
margin: 1em;
padding: 1em;
}

.content {
font-size: 75%;
}

#quote {
font-size: 70%;
line-height: 35px;
margin: auto;
width: auto;
padding-left: 0px;
height: auto;
        }
        }
  

	body {
	background-color: white;
	color: #363633;
	font-family: "Proxima Nova", Verdana, Sans-Serif;
	font-size: 100%;
	letter-spacing: 1px;
	line-height: 30px;
	padding: 1em;
	}

h3 {text-align: center;
	color: #118C78;}
	
span { color: #D32903; }

#quote {
		font-size: 95%;
		color: #D32903;
		left: 0;
		line-height: 40px;
		font-weight: bold;
		margin: auto;
        width: 60%;
        padding: 30px;
		}
	
#explain {line-height: 35px;
		  padding-top: 5px;}
		  
.statement { background-color: #118C78;
		color: white;
		position: absolute;
		left: 0px;
  		right: 0px;
		width: 100%;
		padding: 2%;
		margin-bottom: 15%;
		}

.topnav {
  	width: 100%;
    background: #4D5891;
    border-right: none;
    font-family: "Proxima Nova", Verdana, Sans-Serif;
    padding: 0;
    font-weight:bold;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    }

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
	}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 16.6667%; 
    width: calc(100% / 5);
    box-sizing: border-box;
	}

nav ul li:first-child {
   	 border-left: none;
		}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
		}

.topnav a {
  color: #F0F1FE;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 70%;
  display:block;
}

.topnav a:hover {
  background-color: #30B0AE;
  color: black;
}

.topnav a.active {
  background-color: #E4B63C;
  color: black;
}

.content { margin: 1em;
          padding: 2em;}